@inject IAddonReader addonReader
@inject AddonConfigurator addonConfigurator
@inject ExecGameCommand exec

<Button Color="ButtonColor.Primary" @onclick="InitState">
    Init State
</Button>

@code {
    private void InitState()
    {
        addonReader.FullReset();
        exec.Run($"/{addonConfigurator.Config.CommandFlush}");
    }
}